
body{
  background-image: url(../img/bgd2.avif);
}
.contact-info{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  color: whitesmoke;
  border-bottom: solid 1px whitesmoke;
  margin-bottom: 50px;
  background-image: url(../img/bgd2.avif);
}
.contact{
  border: solid;
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.message{
  border: solid;
  height: 200px;
  width: 500px;
}
h1{
  color: blue;
  text-decoration: underline;
}
  